<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add item</title>
</head>
<body><form method="POST" action="{% url 'submit' %}">{% csrf_token %}
    

    <div class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="price">Item price</label>
        <input type="number" class="form-control" id="price" name="price">
    </div>
    <div class="form-group">
        <label for="description">Item description</label>
        <textarea class="form-control" id="description" name="description" ></textarea>
    </div>
    <div class="form-group">
        <label for="quantity">Item quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity">
    </div>
    <div class="form-group">
        <label for="cat">Category</label>
        <select  class="form-control" id="cat" name="cat" >
            <option value="toys"> toys </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>
</body>
</html>